@import '../../styles/settings.scss';

.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  > span{
    color: $color-dark;
  }
}

.favoriteButton {
  background: none;
  border: none;
  color: gold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: $color-light !important;

  &:hover {
    transform: scale(1.1);
  }
}

.removeButton {
  background: none;
  border: none;
  color: $color-dark;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: $color-light !important;

  &:hover {
    transform: scale(1.1);
  }
}

