@import '../../styles/settings.scss';

.listForm {
  align-items: center;
  padding: 10px;
  text-align: center;

  > span{
    padding: 0 10px 0 10px;
  }
}

@media (max-width: 767px) {
  .columnForm {
    display: flex;
    flex-direction: column;
  }
}