@use "sass:math";
@import '../../styles/settings.scss';

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: $color-navbar;
  height: 100px;

  > .links{
    display: flex;
    align-items: center;
    list-style: none;
    > li {
      font-size: 24px;
      text-decoration: none;
      padding: 0 15px;
      font-weight: bold;

      > a{
        text-decoration: none;
        color: $color-light;
      }
    }
  }
}


.icon {
  display: flex;
  font-size: 64px;
  padding-left: 20px;
  align-items: center;
}

.linkActive {
  color: $color-warning !important;
}